# Eat Safe, Love

## Notebook Set Up

In [98]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [99]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [100]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [101]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [102]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [103]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': 20}

# Use count_documents to display the number of documents in the result
results = establishments.find(query)
print(f'There are {db.establishments.count_documents(query)} establishments with a hygiene score of 20')

print('------------------------------------------------------------')
# Display the first document in the results using pprint

pprint(results[0])

There are 41 establishments with a hygiene score of 20
------------------------------------------------------------
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64979bb5667ad5b134bd871f'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [104]:
# Convert the result to a Pandas DataFrame
inputdict = results[0]
columns = list(inputdict.keys())
values_list = list(inputdict.values())

establishments_df = pd.DataFrame(values_list,columns)
# Display the number of rows in the DataFrame
print(f'There are {len(establishments_df.index)} rows in the DataFrame')
print('------------------------------------------------------')
# Display the first 10 rows of the DataFrame
establishments_df.head(10)

There are 28 rows in the DataFrame
------------------------------------------------------

                                                 0
_id                       64979bb5667ad5b134bd871f
FHRSID                                      110681
ChangesByServerID                                0
LocalAuthorityBusinessID                      4029
BusinessName                   The Chase Rest Home
BusinessType                       Caring Premises
BusinessTypeID                                   5
AddressLine1                  5-6 Southfields Road
AddressLine2                            Eastbourne
AddressLine3                           East Sussex

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [128]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {'LocalAuthorityName': 'City of London Corporation','RatingValue':{'$gte':4}}
results = establishments.find(query)


# Use count_documents to display the number of documents in the result
print('------------------------------------------------------')

print(f'There are  {establishments.count_documents(query)} documents in the results with London as the \
      Local Authority and have a RatingValue greater than or equal to 4 ')

print('------------------------------------------------------')
# Display the first document in the results using pprint
print('Here is the first document in the results')
print('------------------------------------------------------')
pprint(results[0])

------------------------------------------------------
There are  33 documents in the results with London as the       Local Authority and have a RatingValue greater than or equal to 4
------------------------------------------------------
Here is the first document in the results
------------------------------------------------------
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64979bb6667ad5b134bda13b'),
 'geocode': {'latitude': 51.369321, 'longitude': 0.508551},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [85]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 
longitude = 

query = 
sort =  

# Print the results

In [ ]:
# Convert result to Pandas DataFrame

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

# Print the first 10 results

In [ ]:
# Convert the result to a Pandas DataFrame

# Display the number of rows in the DataFrame

# Display the first 10 rows of the DataFrame